@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=REM:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(147, 63, 3);
  color: rgb(240, 189, 102);
  font-family: "Handjet", cursive;
  font-family: "REM", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: rgb(240, 189, 102);
  color: rgb(4, 4, 34);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a:hover {
  color: lavender;
  font-size: 1.02rem;
}

.left {
  font-size: 4rem;
  background-color: rgb(251, 213, 146);
  border-radius: 100%;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  color: rgb(4, 4, 34);
}

.firstSection > div {
  width: 20%;
}

.leftSection {
  background-color: rgb(240, 189, 102);
  font-size: 1.75rem;
  margin: 50px 0;
  border-radius: 10%;
  padding: 100px 50px;
  height: 25vh;
}

.rightSection img {
  width: 80%;
  height: 75%;
  margin: 50px 0;
  border-radius: 10%;
}

.purple {
  color: rgb(84, 49, 116);
}

#element {
  color: rgb(93, 0, 0);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  color: rgb(240, 189, 102);

  height: 20vh;
}

main hr {
  border: 0;
  background: rgb(240, 189, 102);
  height: 5px;
  margin: 10px 85px;
}

.secondSection h1 {
  font-size: 2rem;
}

#element2 {
  color: rgb(251, 213, 146);
  font-size: 6rem;
}

.secondSection .box {
  background: rgb(240, 189, 102);
  width: 80vw;
  height: 2px;
  margin: 0px 0;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: rgb(251, 213, 146);
}

.leftSection .button {
  padding: 50px;
}

.leftSection .btn {
  padding: 2px;
  background-color: rgb(147, 63, 3);
  color: rgb(251, 213, 146);
  border: 2px solid rgb(240, 189, 102);
  border-radius: 10px;
  cursor: pointer;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
